* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'Android';
    src: url('fontes/idroid.otf');
}

body {
    background-color: #EBE5C5;

}

header {
    background-image: linear-gradient(to bottom, #39CC7A, #1A5C38);
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;




}

#tittle {

    color: white;
    text-align: center;
    font-weight: light;
    font-size: 40px;
    padding: 20px 0px;
    font-family: Arial, Helvetica, sans-serif;



}

.principal {
    color: white;
    text-align: center;
    font-weight: light;
    padding: 24px 0px 0px 10px;
}

nav {
    padding: 80px 0px 10px 5px;


}

.one {
    color: #39CC7A;
    text-decoration: none;
    margin-right: 16px;
    ;
    font-weight: bold;
    padding: 10px
}

a:hover {
    color: white;
    background-color: #83E1AD;
    border-radius: 10px;

}

article {
    background-color: white;
    min-width: 320px;
    max-width: 955px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 15px 30px;
    margin: auto;



}

h1 {
    font-family: 'Android';
    text-align: left;
    color: #063D1E;
    font-weight: 200;
    font-size: 24px;


}

.secundario {
    text-indent: 20px;
    line-height: 40px;
    font-size: 16px;
    font-weight: 500;
    text-align: justify;
    margin: 15px 0px;

}

strong {
    color: #1A5C37
}

h2 {
    font-family: 'Android';
    text-align: left;
    color: #1A5C37;
    font-weight: 50;
    font-size: 20px;
    background-image: linear-gradient(to right, #83E1AD, #FFFFFF);
    margin-top: 20px;

}

/* img {
    width: 100%;
}  dá pra fazer assim*/



.two {
    color: #1A5C37;
    font-weight: bolder;
    text-decoration: none;
    background-color: #83E1AD;
}

.two:hover {
    text-decoration: underline;
    color: #1A5C37;
    font-weight: bold;
}

.container {
    text-align: center;
    /*display: flex; 
    justify-content:center; tambem dá certo para centralizar*/

}

section.video {
    background: #063D1E;
    margin-bottom: 30px;
    margin: 0px -20px 30px -20px;
    padding: 20px 0px;
    padding-bottom: 59%;
    position: relative;
}

section.video>iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

.curiosidade {
    background-color: #063D1E;
    margin: 20px 0px;
    padding: 10px 10px;
    border-radius: 5px;
    color: white;
}



aside {
    background-color: #83E1AD;
    border-radius: 10px;

}

aside>ul {
    columns: 2;
    list-style-position: inside;
    list-style-type: '\2714\00A0';

}

footer {
    background-color: #063D1E;
    color: white;
    text-align: center;
}

footer>p>a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer>p>a:hover {
    border-radius: 10px;
    color: #063D1E;

}